fastapi
uvicorn[standard]
gunicorn
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
opencv-python-headless
numpy<2
requests
Pillow
pyyaml
ultralytics==8.4.70
